.root{
    background:
            radial-gradient(ellipse at top left, rgba(0, 4, 255, 0.16), transparent),
            radial-gradient(ellipse at top right, rgba(0, 255, 25, 0.1), transparent),
            radial-gradient(ellipse at bottom left, rgba(255, 248, 0, 0.16), transparent),
            radial-gradient(ellipse at bottom right, rgba(255, 0, 18, 0.16), transparent);
    background-repeat: no-repeat;
    width: 100vw;
    /*height: 100vh;*/
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}
.Employees, .login{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.bold{
    font-weight: bold;
}
.login{
    margin: 0 auto;
}
.hiThere{
    font-weight: bold;
}
label{
    display: flex;
    flex-flow: column;
    align-items: center;
    color: black;
    width: 150px;
    margin: 0 10px;
}
input{
    width: 140px;
    height: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 10px;
}
.addForm form{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
button{
    color: #696969;
    border: none;
    background: none;
    margin: 1px 10px;
    width: 80px;
    /*height: 30px;*/
    border-radius: 5px;
}
button:hover{
    border: 1px solid #707070;
    margin: 0 10px;
}

ul {
    padding-left: 0;
    margin: 0;
}

ul > li {
    list-style: none;
}
.addForm{
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.addForm form{
    max-width: 1200px;
    min-width: 300px;
}
.employees-list-item{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: 1px dashed grey;
    padding: 0 10px;
    margin: 5px auto;
}
.employees-list-item:hover{
    border: 1px solid black;
}
.employees-list-item form.rem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.employees{
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.employees-list{
    margin: 0 auto;
}
.employee-name{
    color: grey;
}

.employeeidhide, .birthDateP, .hireDateP{
    display: none;
}
.upd{

    width: 40vw;
    max-width: 50vw;
    margin-right: 40px;
}
.rem{
    width: 80px;
}

.authForm {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.authForm form{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 200px;
    margin: 0 auto;
}
.authForm input{
    width: 180px;
}
.authForm button{
    font-size: 1.1em;
    color: black;
    font-weight: bold;
}
.authForm a{
    margin: 10px;
    color: grey;
}
.auth{
    padding: 200px 0 0 0;
}
.logout{
    position: absolute;
    top:0;
    right: 0;
    padding: 10px 0;
}
.logout button{
    width: 100px;
}

.fsbk i{
    margin-top: 10px;
    font-size: 1.2em;
    border-radius: 100%;
}
.remove-btn i{
    width: 100%;
    height: 100%;
}
/*Notifications*/
.notifications{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.notesContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;

/*    remove after*/
    width: 400px;
}
.noteItem{
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 95%;
    margin: 5px auto;
    border: 1px dashed grey;
    padding: 0 10px;
    border-radius: 5px;
}
.noteItem:hover{
    border: 1px solid black;
}
.noteItem p{
    margin: 0;
}
.noteItem button{
    margin: 0;
    width: 30px;
    min-height: 30px;
}
.addNoteForm, .addNoteFormInput{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.addNoteForm{
    position: relative;
}
.addNoteFormInput{
    position: absolute;
    top:40px;
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius:5%;
    background: rgba(255,255,255,0.9);
}
.addNoteFormInput input{
    border: 1px solid lightgrey;
}
.btnContainer{
    display: flex;
    flex-flow: row;
}
.btnContainer i{
    font-weight: 700;
    font-size: 0.8em;
}
.noteStyle{
    /*font-style: italic;*/
    font-size: 0.9em;
}




.hide{
    display: none;
}