<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страница пользователя</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <div class="container">
        <h1>Приветствую, {{user}}!</h1>
        <p>На данной странице содержится информация только для авторизованных пользователей!</p>
        <p>Сайт находится на стадии разработки</p>
        <a href="/logout">Выйти</a>
    </div>
</body>

</html>