<head>
    <meta charset="utf-8">
    <title>Choose news</title>

    <link rel="stylesheet" type="text/css" href="/public">
</head>
<body>
<div class="container">
    <p class="mainText">Выберите, какю ленту новостей хотите просмотреть</p>
    <nav class="navigation">
        <a href="/lenta">Лента</a>
        <a href="/ria">Риа</a>
    </nav>
</div>
</body>