<div class="todo">
    <ul class="todo_list">
        {{#each todo}}
        <li>
            <p>{{this.task}}</p>
            <button class="del">Удалить</button>
        </li>
        {{/each}}
    </ul>
</div>
