<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson4</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <div class="container">
        <h1>Источник</h1>
        <h2>{{title}}</h2>
        <form method="post" action="/">
            <label for="src">Источник:</label>
            <select id="src" name="src" value="{{title}}">
                <option value="TheNextWeb">TheNextWeb</option>
                <option value="Habrahabr">Habrahabr</option>
            </select>
            <button type="submit">Выбрать</button>
        </form>
        <div class="list">
            <ul>
                {{#each topics}}
                <li>{{ this }}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>

</html>