<article class="info">
    <h1 class="info__title">Stopwatch</h1>
    <span class="info__description">This is the greatest of stopwatches</span>
</article>
<article class="stopwatch">
    <div class="stopwatch__display">
        <h1><time id="time">00:00:00</time></h1>
        <button id="start">start</button>
        <button id="stop">stop</button>
        <button id="clear">clear</button>
    </div>
    <div class="stopwatch__form">
        {{#each list}}
        <ul>
            <li>{{_id}}<br>{{time}}</li>
        </ul>
        {{/each}}
    </div>
</article>
<script src="/stopwatch/stopwatch.js"></script>