<div class="entry">
    {{#if error}}
        <h2>Error! </h2>
    {{/if}}
    <div class="body">
        <h2>
        <form action="/" method="POST" name="news">
            <label for="1">Sourse
                <input list="my-list" name="news[source]" required>
            </label>
            <datalist id="my-list">
                <option label="ria.ru" value="RiaNews" ></option>
                <option label="rt.com" value="RT" ></option>
            </datalist>
            <br>
            <br>
            <label for="2">
                Quantity (between 1 and 10):
                <input type="number" min="1" max="10" name="news[quantity]" required>
            </label>

            <button>OK</button>
        </form>
        </h2>
    </div>
</div>