<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div class="root">
        {{title}}
        {{#if error}}
            <h2>Error! </h2>
        {{/if}}
        <div class="newsblock">
            <ul class="people_list">
                {{#each news}}
                    <li><a href="news/{{value}}">{{value}}</a></li>
                {{/each}}
            </ul>
        </div>

    </div>
</body>
</html>