<div class="entry">
    <h1>
        {{title}}
        {{#if error}}
            <h2>Error! </h2>
            {{/if}}
        <div class="body">
            <ul class="people_list">
                {{#each people}}
                        <li><a href="people/{{name}}">{{name}}</a></li>
                    {{/each}}
            </ul>
            <form action="/" method="POST" name="news">
                <label for="1">Sourse
                    <input list="my-list" name="news[source]">
                </label>
                <datalist id="my-list">
                    <option label="First" value="First" ></option>
                    <option label="Second" value="Second" ></option>
                </datalist>
                <br>
                <label for="2">
                    Quantity (between 1 and 10):
                    <input type="number" min="1" max="10" name="news[quantity]">
                </label>

                <button>OK</button>
            </form>
        </div>
    </h1>

</div>