<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home work #7</title>
</head>

<body>
    <form action="/" method="POST">
        <fieldset>
            <legend>Авторизуйтесь пожалуйста.</legend>
            <input type="text" required name="login" placeholder="{{login}}"> <br>
            <input type="password" required name="password" placeholder="{{password}}"><br>
            <button>{{value}}</button>
        </fieldset>
        <a href="/users">TEST USERS PAGES</a>
    </form>
</body>

</html>