<head>
    <meta charset="utf-8">
    <title>News</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
</head>
<body>
<div  class="container contentMargin backGroundColorLight">
    <p class="mainTitle">Выберите сайт</p>
    <ul class="hr hr-menu headerText backGroundColorMedium">
        <li><a href="/tengrinews">tengrinews</a></li>
        <li><a href="/bnews">bnews</a></li>
        <li><a href="/today">today</a></li>
    </ul>
</div>
</body>