<head>
    <meta charset="utf-8">
    <title>News</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css"/>
</head>
<body >
<div class="container contentMargin backGroundColorLight">
    <nav>
        <a class="mainTitle" href="/">Назад</a>
    </nav>
    <ul class="headerText backGroundColorMedium">
        {{#each news}}
            <li>{{this}}</li>
        {{else}}
            <li>Список пуст</li>
        {{/each}}
    </ul>
</div>
</body>