<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    .link {
        display: block;
    }
</style>

<body>
<a href="http://localhost:8888/news120" class="link">новости с сайта: 120.su</a>
<a href="http://localhost:8888/animalnews" class="link">новости с сайта: goodnewsanimal.ru</a>
</body>

</html>