<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    .link {
        display: block;
    }
</style>

<body>
<div class="container">
    {{#each task}}
        <div class="data">
            <h3>{{this.id}}</h3>
            <p>{{this.content}}</p>
            <p>{{this.complete}}</p>
        </div>
    {{/each}}
</div>
</body>

</html>