<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson 6</title>
</head>

<div>
	<h1>Registration</h1>
	<form onsubmit="submitNewUser(this)">
		<div>
			<label for="inputEmail">Email address</label>
			<input type="email" name="email" id="inputEmail" placeholder="Enter email">
		</div>
		<div>
			<label for="inputPassword">Password</label>
			<input type="password" name="password" id="inputPassword" placeholder="Password">
		</div>
		<button type="submit">Submit</button>
	</form>
</div>

<script src="../assets/forms_submiter.js"></script>
</body>

</html>