<form action='/read' type='POST'>
    <label><input type='radio' name='source' value={{}}></label>
    <label><input type='radio' name='source' value={{}}></label>
    <label><input type='radio' name='source' value={{}}></label>
    <input type='submit' value='Send'>
</form>