<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
    <link rel="stylesheet" href="/style/typography.css">
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="root">
        <div class="container auth">
            {{#if error}}
                <h2>Error! </h2>
            {{/if}}
            <h3 class="hiThere">Hi there, please sign in.</h3>
            <div class="authForm">
                <form action="/login" method="POST" name="goupdate" class="upd">
                    <input type="text" name="username" placeholder="login">
                    <input type="text" name="password" placeholder="password">
                    <button>Log in</button>

                </form>
                <form action="/" method="POST" name="facebook" class="fsbk">
                    <input type="text" name="facebook" value="facebook" class="hide">
                    <button><i class="fab fa-facebook"></i></button>
                </form>
                <a href="#">or Forgot Password</a>
            </div>
        </div>
    </div>
</body>