<article class="info">
    <h1 class="info__title">Stopwatch</h1>
    <span class="info__description">This is the greatest of stopwatches</span>
</article>
<article class="stopwatch">
    <div class="stopwatch__display">{{currentTime}}</div>
    <div class="stopwatch__form">Form TODO</div>
</article>
<script src="components/stopwatch/stopwatch.js"></script>