.root{
    display: block;
    width: 800px;
    margin: 0 auto;
}

.entry{
    background: #f0f0f0;
    margin: 0 auto;
}
label{
    color: black;
}
.entry form{
    display: flex;
    width: 800px;
    justify-content: space-evenly;
}
button{
    width: 100px;
    height: 30px;
    color: black;
}


/*ul {*/
/*    padding-left: 0;*/
/*    margin: 0;*/
/*}*/

ul > li {
    list-style: none;
}